n8n/wf_gen_v2.json
{
  "name": "AI Video Generator - Start Generation",
  "nodes": [
    {
      "id": "webhook-generate",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "generate-video",
      "parameters": {
        "path": "generate-video",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body || {};\nconst imageId = body.imageId;\nconst prompt = body.prompt;\nif (!imageId) throw new Error('Missing imageId');\nif (!prompt) throw new Error('Missing prompt');\nreturn [{ json: { imageId, prompt: prompt.trim() } }];"
      }
    },
    {
      "id": "generate-video",
      "name": "Generate Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations-image-to-video",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"imageId\": \"{{$json.imageId}}\", \"imageType\": \"UPLOADED\", \"prompt\": \"{{$json.prompt}}\", \"isPublic\": false}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "3F23NaWcaXUh9cQ0",
          "name": "Leonardo API"
        }
      }
    },
    {
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const data = $input.first().json;\nconst generationId = data.sdGenerationJob && data.sdGenerationJob.generationId;\nif (!generationId) throw new Error('Leonardo did not return a generation ID. Response: ' + JSON.stringify(data));\nreturn [{ json: { taskId: generationId, status: 'pending' } }];"
      }
    },
    {
      "id": "respond-generate",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 60,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}